body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: auto;
    height: 80%;
}
#navbar{
    background-color: red;
            padding: 10px;
            width: 100%;
            height: 20px;           
}
nav{
    background-image: url(../imagens/topo.jpg);
    background-repeat: no-repeat;
    width: 100%; 
    height: 700px;  
    background-size: cover;
    margin: 10px;
}
#head nav ul{ /*Como está em formato de linha isso joga para direita*/
    text-align: right;
    margin: 20px 30px 0 0;
}
.linha{ /*Transforma em formato de blobo, mas apenas o li*/
    display: inline-block;
    list-style: none;
    border: 1px solid white ;
    margin-left: 10px;
}
#imagens{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    
    overflow: auto; /* Para poder englobar o float right dos cards*/
}
.card{/*Define tamanho do card para poder caebr na horizontal, (também pode ser usado o inline-block porém vai ter consequencias*/
    width: 32%;
    float: left;
    box-sizing: border-box;
    
}
.card-1, .card-2{
    margin-right: 2%;
}
.card img{
    width: 80%;
    display: block;
    
}